<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="AQC_Manager.Properties.Settings.aqc_managerConnectionString"
        connectionString="server=192.168.1.33;user id=root;database=aqc_manager"
        providerName="MySql.Data.MySqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
